import streamlit as st
from streamlit_option_menu import option_menu
from PIL import Image
from streamlit_extras.dataframe_explorer import dataframe_explorer
from streamlit_extras.let_it_rain import rain
import codecs
import streamlit.components.v1 as components
# import streamlit_shadcn_ui as ui  # 注释掉，Cloud不支持

import pandas as pd
from st_aggrid import AgGrid, GridOptionsBuilder

import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import sklearn
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
import plotly.express as px
import pickle
import math
from io import StringIO
from io import BytesIO
import requests

# Newly added
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
import graphviz
from sklearn.tree import export_graphviz
import time
import os
import mlflow
import mlflow.sklearn
import dagshub
from sklearn.model_selection import train_test_split
from pycaret.regression import setup, compare_models
import shap
from streamlit_shap import st_shap 
import mlflow.xgboost
import xgboost as xgb
import sklearn.metrics as metrics
