streamlit
streamlit-option-menu
streamlit-extras
streamlit-aggrid
https://github.com/victorguembes/streamlit-shadcn-ui/archive/refs/heads/main.zip
pandas
numpy
matplotlib
seaborn
scikit-learn
shap
xgboost
graphviz
mlflow
dagshub
pycaret
torch
